.loading_layout {
    position: absolute;
    background-color: #000;
    opacity: 0.2;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}